:root {
  font-family: Inter, Avenir, monospace, Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --bg-gradient: radial-gradient(at 73% 96%, hsla(262, 39%, 34%, 0.84) 0px, transparent 50%),
                 radial-gradient(at 62% 40%, hsla(240, 39%, 20%, 0.92) 0px, transparent 50%),
                 radial-gradient(at 84% 13%, hsla(220, 65%, 36%, 0.79) 0px, transparent 50%),
                 radial-gradient(at 25% 32%, hsla(187, 22%, 38%, 0.47) 0px, transparent 50%),
                 radial-gradient(at 85% 59%, hsla(266, 54%, 44%, 1) 0px, transparent 50%),
                 radial-gradient(at 61% 49%, hsla(260, 49%, 40%, 1) 0px, transparent 50%),
                 radial-gradient(at 20% 10%, hsla(240, 68%, 33%, 1) 0px, transparent 50%);
  --bg-size: 200% auto;
  --bg-position: 0%;
  --bg-duration: 125ms;
  --bg-timing: cubic-bezier(0,.28,1,.69);
  --correct-box: linear-gradient(90deg, rgba(72,232,32,0.43) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%);
  --partial-correct-box: linear-gradient(90deg, rgba(235, 209, 81, 0.468) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%);
  --incorrect-box: linear-gradient(90deg, rgba(31, 31, 71, 0.4) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1f2e3b;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  color: white;
  background-color: rgb(39, 24, 136);
  background-image: var(--bg-gradient);
  background-origin: border-box;
  overflow-x: hidden;
  text-align: center;
}

#app {
  min-width: 320px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: .5rem;
  column-gap: 2px;
  padding: 30px;
  max-width: 480px;
  flex-grow: 1;
}

.box {
  aspect-ratio: 1;
  border: 2px solid #747bff9e;
  border-radius: 3px;
  /* padding: auto;
  margin: auto; */
  /* text-align: center; */
      vertical-align: 30% !important;
}

/* iPad and smaller screens */
    @media only screen and (max-width: 768px) {
    body{
      overflow-y: hidden;
    }

    h1{
      font-size: 1.5rem;
      letter-spacing: 3px;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      row-gap: .55rem;
      column-gap: 1px;
      padding: 0px 30px;
      flex-grow: 1;
    }
    .box {
      aspect-ratio: 1;
      height: 45px;
      border: .07rem solid #747bff9e;
    }
    input{
      font-size: 10px !important;
      border: none;
      font-size: 43px !important;
    }
}

input{
  color: white;
  background: transparent;
  position: relative;
  background-position: 100%;
  background-size: 200%;
  text-align: center;
  font-size: 2.5rem;
  border: none;
  border-radius: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;;
}

input:focus, 
input:active{
  background-color: #747bff2f;
  outline: none;
  caret-color: transparent;
}

input:disabled{
  opacity: 1;
}


.correct{
  background: var(--correct-box);
  background-size: var(--bg-size);
  background-position: var(--bg-position);
  transition-duration: var(--bg-duration);
  transition-delay: calc(var(--column-delay) * var(--bg-duration));
  transition-timing-function: var(--bg-timing);
}

.partial-correct{
  background: var(--partial-correct-box);
  background-size: var(--bg-size);
  background-position: var(--bg-position);
  transition-duration: var(--bg-duration);
  transition-delay: calc(var(--column-delay) * var(--bg-duration));
  transition-timing-function: var(--bg-timing);
}

.incorrect{
  background: var(--incorrect-box);
  background-size: var(--bg-size);
  background-position: var(--bg-position);
  transition-duration: var(--bg-duration);
  transition-delay: calc(var(--column-delay) * var(--bg-duration));
  transition-timing-function: var(--bg-timing);
}

a {
  display: inline-block;
  text-decoration: none;
  align-items: center;
  padding: 5px;
  margin: 10% 5%;
  font-size: 2rem;
}

svg{
  color: rgba(255, 255, 255, 0.73);
  height: 2rem;
  fill: #747bff9e;
}

a:first-of-type {
  filter: drop-shadow(0px 0px 2px white);
}

a:hover{
  animation: --rotate-alien 0.5s ease 0s 1 normal both;
}

svg:hover{
  animation: --rotate-svg .5s ease 0s 1 normal both;
}

@keyframes --rotate-alien {
  0% {
    transform: rotate(0);
  }
 
  50% {
    scale: 130%;
  }
 
  100% {
    transform: rotate(360deg);
  }

}
@keyframes --rotate-svg {
  0% {
    transform: rotate(0);
  }
 
  50% {
    scale: 100%;
  }
 
  100% {
    transform: rotate(360deg);
  }

}